body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

.section {
    position: relative;
    width: 92%;
    max-width: 1032px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}
.section_mt-0 {
    margin-top: 0;
}

.title {
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: normal;
    line-height: 56px;
}

/* Link */
.link {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}
.link_intext {
    color: #5D16D5;
    opacity: 0.6;
}

.link:hover, .link:focus {
    opacity: 1;
    color: #5D16D5;
}

/* Button */
.button {
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
.button:disabled {
    opacity: 0.3;
    cursor: default;
}

.button_purple {
    background-color: #5D16D5;
    border-color: #5D16D5;
    color: #ffffff;
}
.button_purple:hover, .button_purple:focus {
    background-color: #2e0b69;
    border-color: #2e0b69;
}
.button_purple:active {
    background-color: #1a063b;
    border-color: #1a063b;
}
.button_purple:disabled:hover, .button_purple:disabled:focus {
    background-color: #5D16D5;
    border-color: #5D16D5;
}

.button_blue {
    background-color: #C7D2E9;
    border-color: #C7D2E9;
    color: #000000;
}
.button_blue:hover, .button_blue:focus {
    background-color: #8aa1d1;
    border-color: #8aa1d1;
}
.button_blue:active {
    background-color: #728dc7;
    border-color: #728dc7;
}
.button_blue:disabled:hover, .button_blue:disabled:focus {
    background-color: #8aa1d1;
    border-color: #8aa1d1;
}

.button_size-s {
    padding: 11px 36px;
    font-size: 22px;
}

.button_size-l {
    padding: 18px 40px;
    font-size: 22px;
}


/* Skip To Main button */
.skip-to-main {
    position: absolute;
    top: -100px;
    left: 0;
    transition: top ease-in-out 0.2s;
}
.skip-to-main:focus {
    top: 2px;
    background-color: #C7D2E9;
    border-color: #C7D2E9;
    transition: top ease-in-out 0.2s;
}

/* Header */
.header {
    flex-shrink: 0;
    padding-top: 33px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header__logo {
    display: flex;
    align-content: center;
}

.header__buttons {
    display: flex;
}

/* Search */
.search {
    position: relative;
    margin-right: 14px;
}

.search__input {
    padding: 13px 45px 13px 18px;
    background-color: #F9F9FB;
    border: 1px solid #C7D2E9;
    border-radius: 48px;
    font-size: 18px;
}
.search__input:focus {
    margin: -1px;
    border: 2px solid #8aa1d1;
}

.search__button {
    position: absolute;
    top: 1px;
    bottom: 0;
    right: 1px;
    left: auto;
    width: 48px;
    height: 47px;
    background-color: transparent;
    border: transparent;
    border-radius: 48px;
    cursor: pointer;
}
.search__button:hover, .search__button:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Language picker */
.language-picker {
    display: flex;
}

.language-picker__button {
    margin: 0 4px;
    padding: 13px;
    text-decoration: underline;
}
.language-picker__button_active {
    background-color: #728dc7;
    border-color: #728dc7;
    text-decoration: none;
}

/* Login */
.login-button {
    display: block;
    width: 48px;
    height: 48px;
    margin-left: 42px;
    padding: 2px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}
.login-button svg {
    width: 44px;
    height: 44px;
}
.login-button:hover, .login-button:focus {
    border-color: #C7D2E9;
}

.main-nav {
    display: flex;
    width: 100%;
    margin-top: 48px;
    margin-left: -20px;
    margin-right: -20px;
}

.main-nav__item {
    margin: 0 10px;
    padding: 14px 10px;
}
.main-nav__item:hover, .main-nav__item:focus {
    text-decoration: underline;
}


/* Main */
#main {
    flex: 1 0 auto;
    padding-bottom: 160px;
}

/* Slider */
.glide {
    position: relative;
    height: 600px;
    margin-top: 26px;
}

.glide__arrow {
    position: absolute;
    width: 73px;
    height: 100%;
    padding: 0;
    background-image: url("https://ipogorelova.github.io/a11y-homework/src/img/arrow-icon.svg");
    background-position: center left;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.glide__arrow--left {
    left: -73px;
    right: auto;
}
.glide__arrow--right {
    left: auto;
    right: -73px;
    transform: rotate(180deg);
}
.glide__arrow--left:hover, .glide__arrow--left:focus,
.glide__arrow--right:hover, .glide__arrow--right:focus {
    background-position-x: 10px;
}


.glide__track {
    height: 100%;
}

.glide__slides {
    height: 100%;
}
.glide__slide {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 74px 46px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    cursor: grab;
}
.glide__slide:first-child {
    background-image: url("https://ipogorelova.github.io/a11y-homework/src/img/exhibition.png");
}
.glide__slide:nth-child(2) {
    background-image: url("https://ipogorelova.github.io/a11y-homework/src/img/exhibition2.jpg");
}
.glide__slide:nth-child(2) .glide-slide__button {
    margin-left: auto;
    margin-right: auto;
}
.glide__slide:nth-child(3) {
    background-image: url("https://ipogorelova.github.io/a11y-homework/src/img/exhibition3.jpeg");
}

.glide-slide__button {
    width: fit-content;
    margin-bottom: 0;
    margin-top: auto;
}

/* Tabs */
.tab__link {
    min-width: 150px;
    background-color: transparent;
    border-color: transparent;
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}
.tab__link:hover, .tab__link:focus {
    border-color: #C7D2E9;
}
.tab__link_active {
    background-color: #C7D2E9;
    border-color: #C7D2E9;
    text-decoration: none;
}
.tab__link_active:hover {
    background-color: #8aa1d1;
    border-color: #8aa1d1;
}
.tab__link:active {
    background-color: #728dc7;
    border-color: #728dc7;
}

.tab__content {
    display: none;
    margin-top: 48px;
}
.tab__content_active {
    display: block;
}

.text-block {
    display: block;
    max-width: 700px;
    margin-top: 24px;
    font-size: 22px;
    line-height: 28px;
}
.text-block:first-of-type {
    margin-top: 0;
}

/* Card */
.card-list {
    display: flex;
    flex-wrap: wrap;
    margin: -24px -24px 0;
    padding: 0;
    list-style: none;
}

.card {
    width: 33%;
    max-width: 360px;
}

.card__link {
    display: block;
    margin: 0 10px 10px;
    padding: 24px 14px;
    border: 1px solid transparent;
    text-decoration: none;
    color: #000000;
}
.card__link:hover, card__link:focus {
    border-color: #C7D2E9;
}

.card__img {
    width: 100%;
    height: auto;
}

.card__title {
    display: block;
    margin-top: 24px;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
    text-transform: uppercase;
}

.card__text {
    margin-top: 8px;
    font-size: 18px;
    line-height: 21px;
}

.card__span {
    display: block;
    width: fit-content;
    padding-top: 16px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
}

#history .link {
    margin-top: 48px;
}

/* Footer */
.footer {
    flex-shrink: 0;
    padding-top: 72px;
    padding-bottom: 95px;
    background-color: #F1F1F1;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__block {
    width: 48%;
}

.footer__nav a {
    display: block;
    margin-top: 16px;
}
.footer__nav a:first-child {
    margin-top: 0;
}

.socials {
    display: flex;
    list-style: none;
    margin: 0 -14px;
    padding: 0;
}

#socials-label {
    display: block;
    margin-top: 40px;
}

.socials__button {
    display: block;
    width: fit-content;
    margin: 16px 10px 0 10px;
    padding: 4px;
    background-color: transparent;
    border: 1px solid transparent;
}
.socials__button:disabled {
    opacity: 0.2;
}

.footer-form {
    position: relative;
    width: 485px;
}

.footer-form__title {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 30px;
}

.footer-form__label {
    display: flex;
    flex-direction: column;
}

.footer-form__input {
    max-width: 305px;
    margin-top: 6px;
    padding: 8px 12px 8px 0;
    font-size: 18px;
    /*line-height: 24px;*/
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #000000;
    color: #000000;
}
.footer-form__input:focus {
    border-color: #000000;
}

.footer-form__check {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.footer-form__checkbox {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
}

.footer-form__button {
    position: absolute;
    top: 83px;
    right: 0;
}


@media (prefers-reduced-motion) {
    body {
        scroll-behavior: unset;
    }

    .skip-to-main {
        transition: none;
    }
}
