body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

.section {
    position: relative;
    width: 92%;
    max-width: 1032px;
    margin-left: auto;
    margin-right: auto;
}

/* Link */
.link {
    color: #5D16D5;
    text-decoration: underline;
}

.link:hover, .link:focus {

}

/* Button */
.button {
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
}

.button_purple {
    background-color: #5D16D5;
    border-color: #5D16D5;
    color: #ffffff;
}
.button_purple:hover, .button_purple:focus {
    background-color: #2e0b69;
    border-color: #2e0b69;
}
.button_purple:active {
    background-color: #1a063b;
    border-color: #1a063b;
}

.button_blue {
    background-color: #C7D2E9;
    border-color: #C7D2E9;
    color: #000000;
}
.button_blue:hover, .button_blue:focus {
    background-color: #8aa1d1;
    border-color: #8aa1d1;
}
.button_blue:active {
    background-color: #728dc7;
    border-color: #728dc7;
}

.button_size-s {
    padding: 11px 36px;
    font-size: 22px;
}

.button_size-l {
    padding: 18px 40px;
    font-size: 22px;
}


/* Skip To Main button */
.skip-to-main {
    position: absolute;
    top: -100px;
    left: 0;
    transition: top ease-in-out 0.2s;
}
.skip-to-main:focus {
    top: 2px;
    background-color: #C7D2E9;
    border-color: #C7D2E9;
    transition: top ease-in-out 0.2s;
}

/* Header */
.header {
    flex-shrink: 0;
    padding-top: 33px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header__logo {
    display: flex;
    align-content: center;
}

.header__buttons {
    display: flex;
}

/* Search */
.search {
    position: relative;
    margin-right: 14px;
}

.search__input {
    padding: 13px 45px 13px 18px;
    background-color: #F9F9FB;
    border: 1px solid #C7D2E9;
    border-radius: 48px;
    font-size: 18px;
}
.search__input:focus {
    margin: -1px;
    border: 2px solid #8aa1d1;
}

.search__button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: transparent;
    border-radius: 48px;
    cursor: pointer;
}
.search__button:hover, .search__button:focus {
    background-color: #C7D2E9;
}

/* Language picker */
.language-picker {
    display: flex;
}

.language-picker__button {
    margin: 0 4px;
    padding: 13px;
    text-decoration: underline;
}
.language-picker__button_active {
    background-color: #728dc7;
    border-color: #728dc7;
    text-decoration: none;
}

/* Login */
.login-button {
    display: block;
    width: 48px;
    height: 48px;
    margin-left: 42px;
    padding: 2px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}
.login-button svg {
    width: 44px;
    height: 44px;
}
.login-button:hover, .login-button:focus {
    border-color: #C7D2E9;
}

.main-nav {
    display: flex;
    width: 100%;
    margin-top: 48px;
    margin-left: -20px;
    margin-right: -20px;
}

.main-nav__item {
    margin: 0 10px;
    padding: 14px 10px;
    text-decoration: none;
    color: #000000;
}
.main-nav__item:hover, .main-nav__item:focus {
    text-decoration: underline;
}


/* Main */
main {
    flex: 1 0 auto;
    margin-top: 26px;
}

/* Slider */
.glide {
    position: relative;
    height: 600px;
}

.glide__arrow {
    position: absolute;
    width: 73px;
    height: 100%;
    padding: 0;
    background-image: url("/src/img/arrow-icon.svg");
    background-position: center left;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}
.glide__arrow--left {
    left: -73px;
    right: auto;
}
.glide__arrow--right {
    left: auto;
    right: -73px;
    transform: rotate(180deg);
}

.glide__track {
    height: 100%;
}

.glide__slides {
    height: 100%;
}
.glide__slide {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 74px 46px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}
.glide__slide:first-child {
    background-image: url("/src/img/exhibition.png");
}
.glide__slide:nth-child(2) {
    background-image: url("/src/img/exhibition2.jpg");
}
.glide__slide:nth-child(2) .glide-slide__button {
    margin-left: auto;
    margin-right: auto;
}
.glide__slide:nth-child(3) {
    background-image: url("/src/img/exhibition3.jpeg");
}

.glide-slide__button {
    width: fit-content;
    margin-bottom: 0;
    margin-top: auto;
}



/* Footer */
.footer {
    flex-shrink: 0;
    padding-top: 72px;
    padding-bottom: 95px;
    background-color: #F1F1F1;
}

.footer__inner {
    display: flex;
}

@media (prefers-reduced-motion) {
    body {
        scroll-behavior: unset;
    }

    .skip-to-main {
        transition: none;
    }
}